body{
    background-color: #ccc;
}

h1{
    color: #aa7a11;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 54px;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    font-style: italic;
    font-weight: normal;
}

h3{
    font-size: 38px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: line-through;
    color:#109e4b;
    background-color: black;
}

p{
    font-variant: small-caps;
    text-indent: 58px;
    font-size: 28px;
    text-align: left;
    
    
}

a{
    color:#dd30d4;
    text-decoration: none;
    font-variant: normal;
}
/*Comentário CSS */

.destaque{
    color:#000;
    font-weight: normal;
}
/*Class*/
#destaque{
    color: orange;
}
/*Id (apenas 1 por página)*/ 