body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ccc;
}

.hero{
    background-image: url(../Silvestre_testes/152769-xbox-xbox_series_x-xbox_live-microsoft_xbox_series_x-microsoft_xbox_one_x-3840x2160.png);
    height: 500px;
    background-size: cover;
    background-position: right center;
    padding-top: 1px;
}

.hero-content{
    margin: 100px auto 0;
    width: 80%;
    text-align: center;
    color: white;
}

.hero-content h1{
    font-size: 70px;
    text-shadow: 2px 2px 2px black;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.hero-content p{
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 18px;
    display: inline-block;
    padding: 16px;
    border-bottom: 2px solid;
    margin-top: 0;
}

.hero nav ul{
    margin: 20px 50px 0 0;
    text-align: right;
}

.hero nav li{
    display: inline-block;
    list-style-type: none;
    border: 1px solid white;
    margin-left: 7px;
}

.hero nav a{
    background-color: rgba(0, 0, 0, 0.3) ;
    padding: 16px;
    display: block;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
}

.hero nav a:hover{
    background-color: rgba(0, 0, 0, 0.5);
}

main{
    width: 90%;
    margin: auto;
    /*min-width: 400px;*/
    max-width: 869px;
}

/*section{
    padding-top: 32px;
}*/


article{
    background-color: white;
    padding: 16px;
    margin-bottom: 32px;
    margin-top: 32px;
}

article h2{
    border-bottom: 2px solid #ccc;
    background-color: #eee;
    padding:10px;
    margin-top: 0;
    text-transform: uppercase;
}

.btn{
    background-color: rgba(0, 0, 0, 0.9);
    display: block;
    padding: 12px 13px;
    border-radius: 6px;
    width: fit-content;
    margin-left: auto;
    text-decoration: none;
    color: #1be714;
    text-shadow: 2px 2px black;
    clear: both;
}

a:hover.btn{
    background-color: rgba(0, 0, 0, 0.7);
}

.rodape{
    color: white;
    background-color: #424241;
    text-align: center;
    padding: 30px;
    text-shadow: 2px 2px 2px black;
    letter-spacing: 2px;
}

img{
    width: 300px;
    display: inline;
    float: right;
    height: 200px;
    position: relative;
    bottom: 20px;
    left: 5px;
  
}

.par{
    text-indent: 20px;
    text-align: left;
    text-align: justify;
}
