<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Position</title>
    <style>
       
       #div1{
        background-color: rgba(255, 0, 0, .5);
        padding: 10px;
        width: 90%;
        /* position: relative; */
        position: sticky;
        bottom: 0;
        top: 0;
       }

       #div2{
        background-color: rgba(0, 255, 0, .5);
        padding: 10px;
        width: 80%;
        height: 50px;
        position: static;
        bottom: 0;
       }
       
       #div3{
        background-color: rgba(0, 0, 255, .5);
        padding: 10px;
        width: 30px;
        height: 30px;
        /* position: fixed; */
        position: sticky;
        top: 20px;
        right: 0;
       }
       





    </style>


</head>
<body>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur omnis repellendus esse illum voluptatum iste beatae explicabo deserunt porro commodi. Distinctio nihil recusandae aspernatur nobis repellat, eligendi ad ipsa cupiditate.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur omnis repellendus esse illum voluptatum iste beatae explicabo deserunt porro commodi. Distinctio nihil recusandae aspernatur nobis repellat, eligendi ad ipsa cupiditate.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur omnis repellendus esse illum voluptatum iste beatae explicabo deserunt porro commodi. Distinctio nihil recusandae aspernatur nobis repellat, eligendi ad ipsa cupiditate.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur omnis repellendus esse illum voluptatum iste beatae explicabo deserunt porro commodi. Distinctio nihil recusandae aspernatur nobis repellat, eligendi ad ipsa cupiditate.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur omnis repellendus esse illum voluptatum iste beatae explicabo deserunt porro commodi. Distinctio nihil recusandae aspernatur nobis repellat, eligendi ad ipsa cupiditate.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur omnis repellendus esse illum voluptatum iste beatae explicabo deserunt porro commodi. Distinctio nihil recusandae aspernatur nobis repellat, eligendi ad ipsa cupiditate.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur omnis repellendus esse illum voluptatum iste beatae explicabo deserunt porro commodi. Distinctio nihil recusandae aspernatur nobis repellat, eligendi ad ipsa cupiditate.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur omnis repellendus esse illum voluptatum iste beatae explicabo deserunt porro commodi. Distinctio nihil recusandae aspernatur nobis repellat, eligendi ad ipsa cupiditate.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur omnis repellendus esse illum voluptatum iste beatae explicabo deserunt porro commodi. Distinctio nihil recusandae aspernatur nobis repellat, eligendi ad ipsa cupiditate.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur omnis repellendus esse illum voluptatum iste beatae explicabo deserunt porro commodi. Distinctio nihil recusandae aspernatur nobis repellat, eligendi ad ipsa cupiditate.</p>

    <div id="div1">
        1
        <div id="div2">
            2
            <div id="div3">3</div>
        </div>
    </div>

   <P> Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, a reprehenderit quidem impedit pariatur soluta at vitae similique labore, officiis, eaque repellendus asperiores eum veniam consectetur porro quod. Quos, modi?</P>
   <P> Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, a reprehenderit quidem impedit pariatur soluta at vitae similique labore, officiis, eaque repellendus asperiores eum veniam consectetur porro quod. Quos, modi?</P>
   <P> Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, a reprehenderit quidem impedit pariatur soluta at vitae similique labore, officiis, eaque repellendus asperiores eum veniam consectetur porro quod. Quos, modi?</P>
   <P> Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, a reprehenderit quidem impedit pariatur soluta at vitae similique labore, officiis, eaque repellendus asperiores eum veniam consectetur porro quod. Quos, modi?</P>
   <P> Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, a reprehenderit quidem impedit pariatur soluta at vitae similique labore, officiis, eaque repellendus asperiores eum veniam consectetur porro quod. Quos, modi?</P>
   <P> Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, a reprehenderit quidem impedit pariatur soluta at vitae similique labore, officiis, eaque repellendus asperiores eum veniam consectetur porro quod. Quos, modi?</P>
   <P> Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, a reprehenderit quidem impedit pariatur soluta at vitae similique labore, officiis, eaque repellendus asperiores eum veniam consectetur porro quod. Quos, modi?</P>
   <P> Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, a reprehenderit quidem impedit pariatur soluta at vitae similique labore, officiis, eaque repellendus asperiores eum veniam consectetur porro quod. Quos, modi?</P>
   <P> Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, a reprehenderit quidem impedit pariatur soluta at vitae similique labore, officiis, eaque repellendus asperiores eum veniam consectetur porro quod. Quos, modi?</P>
   <P> Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, a reprehenderit quidem impedit pariatur soluta at vitae similique labore, officiis, eaque repellendus asperiores eum veniam consectetur porro quod. Quos, modi?</P>

    
</body>
</html>
